 <nav>
        <div class="logo">CHRISS</div>
        <div class="menu">
            <a href="/Home">Home</a>
            <a href="/register">Register</a>
            <a href="/">Login</a>
            <a href="/profile">Profile</a>
            <a href="#">Logout</a>
        </div>
    </nav>